{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <h1>Classes</h1>

        <ul class="list-group">
            {% for entity in entities %}
                <li class="list-group-item">
                    <a href="{{ path('classes_show', { 'id': entity.id }) }}">{{ entity }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
