{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Feats</h1>

    <table class="table table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('feats_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.shortDescription }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('feats_new') }}">New Feat</a>
{% endblock %}
