{% extends 'base.html.twig' %}
{% form_theme form _self %}

{% block body -%}
    <div class="container">
        <h1>Character creation</h1>

        {{ include('partials/ability_scores.html.twig') }}

        {{ form(form) }}
    </div>
{% endblock %}
