/web/bundles/
/web/assets/
/web/js/
/web/css/
/web/img/
/web/fonts/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
*.sqlite
.idea/
