form[name="classpoweractivation"] label {
    margin-bottom: 0;
    font-weight: normal;
}

form[name="classpoweractivation"] .checkbox {
    margin-top: 0;
    margin-bottom: 0;

}

#troulite_pathfinderbundle_level_edit_skills .collection-item,
#troulite_pathfinderbundle_level_edit_skills .form-group,
{
    margin-bottom: 0;
}

a.mypopover {
    color: #C7C7C7;
}

.popover {
    max-width: 600px !important;
}

form div.checkbox input[type="checkbox"] {
    margin-top: 0;
}