.craue_formflow_steplist {
    width: 100%;
    -webkit-padding-start: 0;
}
.craue_formflow_steplist li {
    display: inline;
}
.craue_formflow_steplist li {
    padding: 12px 12px 10px 30px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
}

.craue_formflow_steplist li:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.craue_formflow_steplist li:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

.craue_formflow_steplist li:first-child:before {
    border: none;
}

.craue_formflow_steplist li:last-child:after {
    border: none;
}

.craue_formflow_steplist li:first-child {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.craue_formflow_steplist li:last-child {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
/*
.badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}

.craue_formflow_steplist li:first-child .badge {
    margin-left: 0;
}
*/

li.craue_formflow_current_step {
    background: #007ACC;
    color: #fff;
}

li.craue_formflow_current_step:after {
    border-left-color: #007ACC;
}