@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $table-odd;
}

.card {
  border: none;
}

.card-header {
  background-color: $table-bg;
  border: none;
}

.card-body {
  background-color: $table-odd;
}

.popover-header {
  margin-top: 0;
}

.popover {
  max-width: 30%;
}

.mypopover {
  color: $body-color;
}

.mypopover:hover {
  text-decoration: none;
  cursor: help;
}

.modal-body, .modal-footer {
  background-color: $body-bg;
}

.modal-header {
  background-color: $head-bg;
}

.modal-title {
  margin-top: 0;
}