{% block _party_h1 %}
<h1>
    {{ entity }}
    <small>
        <a href="{{ path('parties_edit', {'id': entity.id}) }}">
            <span class="fas fa-edit"></span><span class="sr-only">{{ 'edit'|trans }}</span>
        </a>
    </small>
</h1>
{% endblock %}
