{% extends '::base.html.twig' %}

{% block title %}Pathfinder Character Manager{% endblock %}

{% block content %}
    <div class="container">
    {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}