{% extends '::base.html.twig' %}

{% block content -%}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('subclasses') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
