{% extends '::base.html.twig' %}

{% block content -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('subclasses') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
