{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <h1>Race list</h1>

        <ul class="list-group">
            {% for entity in entities %}
                <li class="list-group-item">
                    <a href="{{ path('races_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-inline">
            <li>
                <a href="{{ path('races_new') }}" class="btn btn-primary">Create a new race</a>
            </li>
        </ul>
    </div>
{% endblock %}
