{% extends 'base.html.twig' %}

{% block body -%}
    <h1>{{ 'races'|trans }}</h1>

    <ul class="list-group">
        {% for entity in entities %}
            <li class="list-group-item">
                <a href="{{ path('races_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
