{% extends 'base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>{{ entity.name }}</h1>

        <h2>Traits</h2>
        <ul>
            {% for stat, bonus in entity.traits %}
                {% set value = bonus.value %}
                <li>{% if value matches '/^[0-9]+$/' and value > 0 %}+{% endif %}{{ value }} {{ stat|replace({'_': ' '}) }}</li>
            {% endfor %}
        </ul>
        <ul class="list-inline">
            <li>
                <a href="{{ path('races') }}" class="btn btn-primary">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
